
# Ignore NPM working data

node_modules/
package-lock.json
npm-debug.log

# Ignore Gulp output

dist/

# Ignore files used during local execution
.env

# Ignore fine-grained IntelliJ metadata

.idea/workspace.xml

# Ignore MacOS X metadata

.DS_Store
