{% extends "layout.html" %}

{% block page_title %}
Login
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="breadcrumbs">
		<ol>
			<li aria-current="page">Home</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Welcome
			</h1>

			<p>
				<a class="button button-start" href="{{urlRoot}}candidate/candidate-details" href="#" role="button">Start now</a>
			</p>

		</div>
	</div>

</main>

{% endblock %}

