{% extends "layout.html" %}

{% block page_title %}
Welcome
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="breadcrumbs">
		<ol>
			<li aria-current="page">Home</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-large">
				Driving Theory Test - Candidate Check-In
			</h1>
			<p>
				You will need your driving licence to complete the candidate check-in.
			</p>

			<p>
				<a class="button button-start" href="{{urlRoot}}candidate/candidate-details" href="#" role="button">Start now</a>
			</p>

		</div>
	</div>

</main>

{% endblock %}

