{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": false,
      "codeFrame": false
    },
    "globals": {
        "window": true,
        "document": true
    },
  "overrides": [
    {
      "files":"*.js",
      "excludedFiles": "*.unit.js"
    }
  ],
    "env": { "mocha": true },
    "rules": {
      "indent": ["error", "tab"],
      "no-use-before-define": [2, {"functions": false, "classes": false}],
      "new-cap": [2, {"newIsCap": true, "capIsNew": false, "properties": false}],
      "padded-blocks": 0,
      "arrow-body-style": ["error","always"],
      "no-underscore-dangle": [2, { "allowAfterThis": true, "allow": ["_id"] }],
      "no-param-reassign": ["error", { "props": false }],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "no-tabs": 0,
      "comma-dangle": 0,
      "max-len": [1, { "ignoreComments": true, "code": 150 }],
      "semi": ["error", "always"]
    }

}
