// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/assets/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  //border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

span.arrow {
  color: #005ea5;
  margin-right:10px;
}

span.whereToFind {
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

#dlnHelpToggle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-box {
  background-color: transparent;
  width: 600px;
  height: 480px
}

.current-page-breadcrumb {
  font-weight: bold;
}

.vOverlay, .vCountdown, .vComplete {
  position: absolute;
}

.vInstructions {
  text-align: center;
  color: black;
  padding-top: 10px;
  font-weight: 900;
  height: 80px;
}

.vInstructions, .vButtons {
  background-color: transparent;
}

.vCountdown, .vOverlay, .vComplete {
  background-color: transparent;
}

.vButtons {
  text-align: center;
  padding-top: 10px;
}

#videoBox {
  position: relative;
}


.vCountdown {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  color: white;
}

.vCountDownPlaying {
  -webkit-text-stroke: 1px #000;
  text-shadow:
          1px 1px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.vCountDownRecording {
  -webkit-text-stroke: 1px red;
  text-shadow:
          1px 1px 0 red,
          -1px -1px 0 red,
          1px -1px 0 red,
          -1px 1px 0 red,
          1px 1px 0 red;
}

.vComplete {
  text-align: center;
}


#record {
  opacity: 1;
}

.video-complete-play , .video-complete-redo {
  cursor: pointer;
  margin-top: 40px;
}

video#preview {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.govuk-related-items li {
  list-style-type: disc
}

ul.bullet {
  padding-left: 30px;
}
