{% extends "layout.html" %}

{% block page_title %}
Enter Candidate Drivers Licence Number
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<script type="application/javascript" src="{{ assets }}public/javascripts/helpToggler.js"></script>

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-full">
            <div class="breadcrumbs">
                <ol>
                    <li><a href="{{urlRoot}}">Home</a></li>
                    <li aria-current="page"><span class="current-page-breadcrumb">Enter Driving Licence Number</span></li>
                </ol>
            </div>

            <form action="{{urlRoot}}candidate/candidate-details" method="post" class="form">

                <fieldset class="form-group">
                    <legend>
                        <h1 class="heading-large">
                            Please enter your driving licence number
                        </h1>
                    </legend>
                    <div class="form-group" id="DLN-control-group">
                        <label class="form-label form-label-bold" for="DLN">

                            <span class="form-hint">
                For example, MORGA657054SM9IJ
                            </span>
                            <span class="error-message"
                                  id="DLN-help"
                                  name="DLN"
                                  class="form=control"></span>
                        </label>
                        <input class="form-control"
                               id="DLN"
                               type="text"
                               name="DLN"
                               style="text-transform: uppercase">
                    </div>
                </fieldset>

                <div role="form-group" id="dlnHelpToggle">
                    <div role="button">
                        <span class="arrow">▼</span>
                        <span class="summary whereToFind open" onclick="toggleHelper(this)">Where to find your driving licence number</span>
                    </div>
                    <div class="panel panel-border-narrow" data-help="dln-help" style="display:none;">
                        <p>Your driving licence number can be found in section 5 of your driving licence photocard</p>
                        <img id="whatLicenceImg" src="{{ assets }}public/images/driving_licence.png" alt="">
                    </div>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
    <script type="application/javascript">
        const arrow = $('#dlnHelpToggle').find('span.arrow')
        $(arrow).text('►');
    </script>

</main>

<script type="application/javascript" src="{{assets}}public/javascripts/dlnScript.js"></script>
        {% endblock %}
