{% extends "layout.html" %}

{% block page_title %}
Driver Theory Test Prototype
{% endblock %}

{% block page_content %}
<style>


    span.arrow {
        color: #005ea5;
    }
</style>

<div class="grid-row">
    <div class="column-full">

        {% if (loginAuthenticationError === 'true') %}
        {% include "includes/login/login-authentication-error.html" %}
        {% endif %}
    </div>
</div>

<h1 class="heading-large">
    Enter your driving licence number
</h1>
    <form action="{{urlRoot}}candidate/candidate-details" method="post" class="form">
        <div id="DLN-control-group" class="form-group">
            <label for="DLN" class="form-label">
                Your driving licence number
                <span class="form-hint">
                    Example: MORGA657054SM9IJ
                </span>
                <span class="error-message" id="DLN-help"></span>
            </label>
            <input type="text"
                   id="DLN"
                   name="DLN"
                   class="form-control"
                   style="text-transform: uppercase"
        </div>

        <div class="form-group">
            <span class="arrow">►</span>
            <a href="#" style="padding-bottom:10px;">Where to find your driving licence number</a>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    </form>

<script type="application/javascript">
    $('#DLN').focus();
</script>

<script type="application/javascript" src="{{ assets}}public/javascripts/dlnScript.js"


{% endblock %}


