{% extends "layout.html" %}

{% block page_title %}
Video Capture Instructions
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block page_title %}
Your video Statement
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-full">

            <div class="breadcrumbs">
                <ol>
                    <li><a href="{{urlRoot}}">Start</a></li>
                    <li aria-current="page">Enter Driving Licence Number</li>
                    <li aria-current="page"><span class="current-page-breadcrumb">Your booking is confirmed</span></li>
                </ol>
            </div>
            <h1 class="heading-large">Submitting your video statement</h1>
            <h1 class="heading-medium">
                Before you can proceed
            </h1>
                <p>
                    The DVSA requires all candidates complete a 5 second video security statement
                </p>
                <h1 class="heading-medium">
                    Why
                </h1>
                <p>The Driving Theory Test is an essential part of road safety. The video helps reduce instances of fraud and criminal activity.</p>
            <h1 class="heading-medium">
                How
            </h1>
                <p>
                    We will ask you to look at the camera on this device and record you as you do so. We do not record any sound. If you are unhappy with the recording you have an opportunity to repeat it until you are satisfied.
                </p>
            <h1 class="heading-medium">
                Security
            </h1>
                <p>
                    This information is covered by the Data Protection Act 1998 which protects your rights, privacy and controls how your personal information is used by organisations, businesses or the government.
                </p>
            <br>
            <p>
                <a class="button button-start" href="/candidate/video-capture" role="button">Continue</a>
            </p>

        </div>
    </div>

</main>

{% endblock %}
