{% extends "layout.html" %}


{% block page_title %}
Before you can proceed
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-full">

            <div class="breadcrumbs">
                <ol>
                    <li><a href="{{urlRoot}}">Start</a></li>
                    <li aria-current="page">Enter driving licence number</li>
                    <li aria-current="page"><span class="current-page-breadcrumb">Before you can proceed</span></li>
                </ol>
            </div>
            <h1 class="heading-large">
                Before you can proceed
            </h1>
                <p>
                    The DVSA requires all candidates record a 5 second security video.
                </p>
            <h1 class="heading-medium">
                How
            </h1>
                <p>
                    On the next page we will record a short video of you using the camera on this device. If you are unhappy with the recording you have the opportunity to record your video again until you are satisfied.
                </p>
            <h1 class="heading-medium">
                Security
            </h1>
                <p>
                    This information is covered by the Data Protection Act 1998 which protects your rights, privacy and controls how your personal information is used by organisations, businesses or the government.
                </p>
            <br>
            <p>
                <a class="button" href="/candidate/video-capture" role="button">Continue</a>
            </p>

        </div>
    </div>

</main>

{% endblock %}
