{% extends "layout.html" %}

{% block page_title %}
Driver Theory Test Prototype
{% endblock %}

{% block page_content %}
<style>


    span.arrow {
        color: #005ea5;
    }
</style>
<div class="grid-row">
    <h1 class="heading-large">
        Video terms and conditions
    </h1>
    <div class="form-group">
        <span class="arrow">►</span>
        <span>Click the button below to read the terms and conditions. You must accept them in order to proceed</span>
    </div>
    <a href="/candidate/video-terms-conditions" class="button button-start" style="float:right;">Video terms and conditions</a>
</div>

{% endblock %}


