{% extends "layout.html" %}

{% block page_title %}
Report to Reception
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-full">

            <div class="breadcrumbs">
                <ol>
                    <li><a href="{{urlRoot}}">Start</a></li>
                    <li aria-current="page">Enter Driving Licence Number</li>
                    <li aria-current="page">Capturing your Video</li>
                    <li aria-current="page"><span class="current-page-breadcrumb">Report to Reception</span></li>
                </ol>
            </div>

            <h1 class="heading-large">
                Please report to reception
            </h1>

            <p>
                <a class="button" href="login" href="#" role="button">Next candidate</a>
            </p>

        </div>
    </div>

</main>

<script type="application/javascript">
    $('#nextCandidateButton').on('click', () => {
        window.location = '/';
    })
    $(document).ready(() => {
        setTimeout(() => {
            window.location = '/';
        }, 5000)
    })
</script>

{% endblock %}



