{% extends "layout.html" %}

{% block page_title %}
Report to Reception
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <div class="column-full">

            <a href="candidate-video-capture" class="link-back">Back</a>

            <h1 class="heading-xlarge">
                Please report to reception
            </h1>

            <p>
                <a class="button" href="login" href="#" role="button">Next candidate</a>
            </p>

        </div>
    </div>

</main>

<script type="application/javascript">
    $('#nextCandidateButton').on('click', () => {
        window.location = '/';
    })
    $(document).ready(() => {
        setTimeout(() => {
            window.location = '/';
        }, 120000)
    })
</script>

{% endblock %}



