{% extends "layout.html" %}

{% block page_title %}
Driver Theory Test Prototype
{% endblock %}

{% block page_content %}


<div class="grid-row">
    <div class="column-full">

        <a href="candidate-prepare-video" class="link-back">Back</a>

        <h1 class="heading-xlarge">
            Capturing your video
        </h1>

        <p class="lede">A recording is required to ______, once you have clicked on the link to start the video, the recording will start and will last X seconds.</p>

        <p><a href="">Start your recording</a></p>
        <div class="video-box">
            <br>
        </div>
        <br>
        <p>Once you have finsihed your recording, you may:</p>
        <ul class="list list-bullet">
            <li><a href="">Replay your recording</a></li>
            <li><a href="">Redo your recording</a></li>
        </ul>

        <p>
            <a class="button" href="candidate-report-reception" role="button">Submit recording</a>
        </p>

    </div>
</div>

{% endblock %}


