{% extends "layout.html" %}

{% block page_title %}
Capture Candidate Video
{% endblock %}

{% block page_content %}



<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li><a href="{{urlRoot}}">Start</a></li>
                <li aria-current="page">Enter Driving Licence Number</li>
                <li aria-current="page"><span class="current-page-breadcrumb">Record your Video Statement</span></li>
            </ol>
        </div>

        <div id="uploadUrl" class="js-hidden">
            {{data.uploadUrl}}
        </div>
        <h1 class="heading-large">
            Record your Video Statement
        </h1>

        <div class="column-one-half">
            <section class="section">
                <div class="container form-group">
                    <div id="videoBox" style="text-align:center">
                        <video id="preview" autoplay muted>Video stream not available.</video>
                        <div id="vInstructions" class="vInstructions js-hidden"></div>
                        <div id="vButtons" class="vButtons js-hidden">
                            <button id="record" class="button" value="Start Recording">Start Recording</button>
                        </div>
                        <div id="vOverLay" class="vOverlay"></div>
                        <div id="vCountdown" class="vCountdown js-hidden"></div>
                        <div id="vComplete" class="vComplete js-hidden">
                            <div id="video-complete-play" class="video-complete-play">
                                <a id="video-play">

                                    <p class="heading-small" style="margin:0">
                                        Replay your recording
                                    </p><span class="arrow"><img src="{{ assets}}public/images/play-button.png"></span>
                                </a>
                            </div>
                            <div id="video-complete-redo" class="video-complete-redo">
                                <a id="redo-video">

                                    <p class="heading-small" style="margin:0">
                                        Redo your recording
                                    </p><span class="arrow"><img src="{{ assets}}public/images/redo.png"></span>
                                </a>
                            </div>
                            <div style="margin-top:20px">
                                <p>
                                    If you are satisfied, click the button to Submit your Video Statement
                                </p>
                            </div>
                            <div>
                                <br/>
                                <a id="storeVideo" class="button" role="button">Submit Video Statement</a>
                            </div>
                        </div>


                    </div>
                    </div>
                </div>

                <div class="form-group" style="float:right">

                </div>
            </section>



        <div class="column-one-half">
            <aside id="vRightInstructions" class="govuk-related-items" role="complementary">

                <h2 class="heading-medium" id="subsection-title">Capturing your video</h2>
                <ul class="bullet">
                    <li>Position your face inside the red square.</li>
                    <li>Remove your glasses or any eye wear.</li>
                    <li>Keep hair away from your face.</li>
                    <li>Religious or medical headwear is permitted.</li>
                    <li>Try to keep a straight face and avoid smiling.</li>
                    <li>If you’re unhappy with the results you can record it again.</li>
                </ul>

            </aside>
        </div>
    </div>


</div>


<script type="application/javascript" src="{{ assets}}public/javascripts/FileSaver.min.js"></script>
<script type="application/javascript" src="{{ assets}}public/javascripts/video-capture.js"></script>
<script type="application/javascript" src="{{ assets}}public/javascripts/video-ui.js"></script>

{% endblock %}


