{% extends "layout.html" %}

{% block page_title %}
Record your Video
{% endblock %}

{% block page_content %}



<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li><a href="{{urlRoot}}">Start</a></li>
                <li aria-current="page">Enter driving licence number</li>
                <li aria-current="page"><span class="current-page-breadcrumb">Record your video</span></li>
            </ol>
        </div>

        <div id="uploadUrl" class="js-hidden">
            {{data.uploadUrl}}
        </div>
        <h1 class="heading-large">
            Record your video
        </h1>

        <div class="column-one-half" style="padding-left:0">
            <section class="section">
                <div class="container form-group">
                    <div id="videoBox">

                        <video id="playback" muted class="js-hidden">Video stream not available.</video>
                        <video id="preview" autoplay muted>Video stream not available.</video>
                        <div id="vInstructions" class="vInstructions js-hidden"></div>
                        <div id="vButtons" class="vButtons js-hidden">
                            <button id="record" class="button" value="Start Recording">Start recording</button>
                        </div>
                        <div id="vOverLay" class="vOverlay"></div>
                        <div id="vCountdown" class="vCountdown js-hidden"></div>
                        <div id="vComplete" class="vComplete js-hidden"  style="text-align:left">
                            <div id="video-complete-play" class="video-complete-play">
                                <a id="video-play" href="#">
                                    Replay my video
                                </a>
                            </div>
                            <div id="video-complete-redo" class="video-complete-redo">
                                <a id="redo-video" href="#">
                                    Record my video again
                                </a>
                            </div>
                            <div style="margin-top:20px">
                                <p>
                                    If you are satisfied, click the button to submit your video
                                </p>
                            </div>
                            <div>
                                <br/>
                                <a id="storeVideo" class="button" role="button">Submit video</a>
                            </div>
                        </div>


                    </div>

                    </div>
                </div>

                <div class="form-group" style="float:right">

                </div>
            </section>



        <div class="column-one-half">
            <aside id="vRightInstructions" class="govuk-related-items" role="complementary">

                <ul class="bullet">
                    <li>Position your face inside the red square.</li>
                    <li>Remove your glasses or any eye wear.</li>
                    <li>Keep hair away from your face.</li>
                    <li>Religious or medical headwear is permitted.</li>
                    <li>Have a neutral expression and your mouth closed.</li>
                    <li>If you’re unhappy with the results you can record it again.</li>
                </ul>
            </aside>
        </div>
    </div>


</div>


<script type="application/javascript" src="{{ assets}}public/javascripts/FileSaver.min.js"></script>
<script type="application/javascript" src="{{ assets}}public/javascripts/video-capture.js"></script>
<script type="application/javascript" src="{{ assets}}public/javascripts/video-ui.js"></script>

{% endblock %}


