{% extends "layout.html" %}

{% block page_title %}
Driver Theory Test Prototype
{% endblock %}

{% block page_content %}

<div class="grid-row">

    <h1 class="heading-large">Video Terms and Conditions</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur nunc vitae magna pellentesque, eget dapibus massa placerat. Nullam congue metus sodales, iaculis magna bibendum, tempus ante. Donec ex tortor, maximus vel erat eget, tincidunt tincidunt lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla interdum molestie bibendum. Maecenas molestie faucibus risus at commodo. Proin vitae enim eget enim dapibus iaculis. In sollicitudin, lacus et condimentum varius, lorem mi vulputate massa, a vehicula est leo sit amet mi. Sed condimentum tincidunt ipsum, ac malesuada lectus mollis eu. Suspendisse faucibus neque vitae nibh rhoncus interdum. Nullam ac massa imperdiet, efficitur nulla id, laoreet mauris. Nulla elementum bibendum orci id facilisis. Curabitur non imperdiet massa.</p>

    <p>Maecenas euismod convallis dui, eget egestas tortor mollis sed. Sed a venenatis nibh. Pellentesque at nisl mollis nulla porta aliquam. Mauris non sapien vitae lectus venenatis pulvinar. Etiam congue in tellus at placerat. Duis id vehicula eros. Integer nulla velit, blandit at volutpat non, ultrices vel risus. Quisque aliquam, ipsum vel euismod gravida, dui libero sagittis est, a imperdiet odio arcu a nibh. Ut lacinia felis semper felis imperdiet pretium. Fusce convallis molestie massa, eget cursus enim feugiat eu. Suspendisse potenti. Nullam elementum hendrerit lectus, eget porttitor ipsum blandit sit amet. Nulla scelerisque a risus eu fringilla. Vivamus condimentum sapien at bibendum faucibus. Nullam sed arcu volutpat, fringilla ex sit amet, fringilla purus.</p>

    <p>Fusce aliquam ultricies dolor, vel lobortis ante. Praesent ultrices placerat magna, sed porttitor elit semper eu. Proin sit amet arcu eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quam magna, pharetra in euismod vitae, sollicitudin non velit. In hac habitasse platea dictumst. Aenean sit amet viverra ipsum, id condimentum velit. Cras non pretium risus, eget pellentesque enim. Pellentesque auctor fermentum sollicitudin. Morbi pharetra metus ipsum, a tincidunt enim ornare at.</p>

    <p>Nunc accumsan metus vel est blandit, vitae posuere dui faucibus. Curabitur leo tortor, euismod vel est a, porttitor aliquet felis. Nunc dictum nisl nec velit volutpat placerat. Pellentesque eget bibendum urna. Nunc eleifend auctor sapien, eu condimentum ipsum vulputate et. Fusce efficitur lectus non orci ullamcorper cursus. Sed pretium enim non auctor consectetur.</p>

    <p>Phasellus elementum mauris eu diam blandit, ut dignissim purus dapibus. Donec sed consequat risus. Donec sit amet nunc fermentum, cursus felis eget, blandit diam. Donec sed libero enim. Suspendisse rhoncus semper nisl. Vestibulum elit ligula, consequat vel laoreet quis, dignissim ac dolor. Nunc ornare pellentesque finibus.</p>

</div>
<form action="{{urlRoot}}candidate/video-terms-conditions" method="post">
    <div class="form-group">
        <fieldset>
            <div class="multiple-choice" data-target="accept-conditions">
                <input id="terms-accept" type="radio" name="accept-group" value="Accept" aria-controls="accept-conditions" aria-expanded="true">
                <label for="terms-accept">Accept - I agree to these terms and conditions</label>
            </div>
            <div class="multiple-choice" data-target="decline-conditions">
                <input id="terms-decline" type="radio" name="accept-group" value="Decline" aria-controls="decline-conditions" aria-expanded="true">
                <label for="terms-accept">Decline - I do not agree to these terms and conditions</label>
            </div>
            <div class="js-hidden" id="accept-conditions" aria-hidden="true" style="float:right;padding-top:80px;">
                <div class="form-group">
                    <input type="submit" class="button" style="float:right;" value="Continue">
                </div>
            </div>
            <div class="js-hidden" id="decline-conditions" aria-hidden="true" style="float:right;padding-top:80px;">
                <div class="form-group">
                    <input type="submit" class="button" style="float:right;" value="Continue">
                </div>
            </div>
        </fieldset>
    </div>
</form>

{% endblock %}


