{% import '../../macros/date_fields.html' as fields %}
{% import '../../macros/vehicle_id_input.html' as input %}
<div class="grid-row">
	<p class="lede">Filters</p>
</div>
<form action={{path}} method="POST">
	<div class="atf-search-box atf-grey clearfix grid-row">
		<div class="atf-box-content">
			<h3 class="heading-small">Search for</h3>
			<div class="atf-background-white">
				{% for type in searchTypes %}
					<div class="atf-search-link">
						<a href={{type.href}} class={{"atf-active" if type.href === path}}>{{type.text}}</a>
					</div>
				{% endfor %}
			</div>
			{% if useDateFields %}
				<h3 class="heading-small">Custom date range</h3>
				<div class="atf-background-white">
					<label class="form-label">From</label>
					<span class="form-hint">For example, 10/09/2017</span>
					<div>
						{{ fields.dateFields("from", SearchData.StartDate.day, SearchData.StartDate.month, SearchData.StartDate.year) }}
					</div>
					<label class="form-label">To</label>
					<span class="form-hint">For example, 10/09/2017</span>
					<div>
						{{ fields.dateFields("to", SearchData.EndDate.day, SearchData.EndDate.month, SearchData.EndDate.year) }}
					</div>
				</div>
			{% else %}
				{{ input.vehicleIdInput(inputData.title, inputData.example, inputData.id, inputData.type) }}
			{% endif %}
		</div>
	</div>
	<br>
	<div class="grid-row">
		<input class="button" type="submit" value="Update result">
	</div>
</form>
